<%if flash[:error] %>
<div class="alert alert-danger text-center" role="alert"><%= flash[:error] %></div>
<% end %>
<% @recipe.errors.full_messages.each do |msg| %>
<%= msg%><br>
<%end%>
<section>
<%=render 'shared/form'%>
</section>
