<div class="row" style="background-color: red; margin-top: 15px"> 
  <div class="col-sm-4"></div>
  <div class="col-sm-4">

    <div style="margin-top: 25px">
      <h4>Social Recipes | Copyright 2018</h4><h5>Quero Ser Dev!</p></h5>
    </div>

  </div>
  <div class="col-sm-4"></div>
</div>


